.DisplayFrame {
    touch-action: none;
    border-radius: 10px;
    display: flex;
    gap: 5vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);
    margin: auto;
    z-index: 1;
    caret-color: transparent; 
    
}
 
.DisplayFrame::-webkit-scrollbar {
    display: none;
} 

.Container {
    position: relative;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    align-items: center;
    height:100vh;
    width: 100vw;
    background-color: black;
    margin:0rem;
    overflow:hidden;
    color: beige;
}

.CarouselItem {
    touch-action: none;
    transition: all 500ms ease-out;
    width: 40vmin;
    height:50vmin;
    object-fit: cover;
    object-position: center;
    
}

.FastAnimation{
    transition: all 50ms linear;
}

.CarouselItem img {
    height: 100%;
    max-width: 100%;
    background-color: none;
}